
*{
  font-family:rnwt;
  color:white;
}
@font-face {
  src: url(Roman_New_Times.otf);
  font-family:rnwt;
}
body{
    background: black;
    background-image:url("imagens/fundo.png  ");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: black;
    background-size: cover;
}

#countdown {
  z-index: 1;
  padding-top:2rem ;
    font-size: 175px;
    text-align: center;
    font-weight:inherit;
    font-family:rnwt;
    position: fixed;
      top: 14%;
      left: 50%;
      transform: translate(-50%, -50%);
    color:white;
}
@media(min-width: 280px) and (max-width: 820px) {
  #countdown{
  font-size: 600%;
  z-index:1;
  text-align: center;
  position: fixed;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;}
  }
#imagem-medo{
  display: block;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.2;
}
@media(min-width: 280px) and (max-width: 820px) {
  #imagem-medo{
    display: block;
    padding-top: 10%;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.2;
  }
  }
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1px;
  max-width: 1200px;
}
.grid div {
  background-color: #000000;
  text-align: center;
  padding: 7.5rem;
}

#frase {
	position: fixed;
	bottom: 20px;
  right: 2%;
	background-color: rgb(0, 0, 0);
	color: #fff;
	text-decoration: none;
  padding: 15px;
}
.bug-animation {
  display: inline-block;
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: transform 0.3s;
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index:2;
}
.bug-animation:hover {
  color:black;
  background-color:white;
  border: 2px solid white;
}
.bug-animation2 {
  display: inline-block;
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: transform 0.3s;
  position: fixed;
  bottom: 5%;
  left: 3%;
  z-index:2;
}
.bug-animation2:hover {
  color:black;
  background-color:white;
  border: 2px solid white;
}
#days{
  padding-top: 35%;
  text-align: center;
  font-weight:inherit;
  z-index: 1;
  font-size:84px;
  color:rgb(255, 255, 255);
}
#test{
  color: white;
}